* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #92CACE;
    color: #333;
}

.sidebar_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 2.5%;
    height: 5vh;
    background-color: #2D464C;
    margin-top: 1.3rem;
    right: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #BFE0E2;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    z-index: 1;
}

.sidepanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%; 
    width: 0; 
    position: fixed;
    top: 3rem;
    right: 0;
    background-color: #2D464C;
    overflow-x: hidden; 
    transition: width 0.5s ease; 
    border-radius: 1rem;
}

.sidepanel.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 3rem;
    width: 8rem;
    border-radius: 1rem;
}

.sidepanel a {
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: #BFE0E2;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.closebtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 25px;
    font-size: 1rem;
    background-color: #5FAAB1;
    border-radius: 0.5rem;
    color: #ffff;
    width: 80%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;  
    top: 0;  
    width: 100%; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center; 
    align-items: center; 
    opacity: 1; 
    transform: translateY(-20px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
    backdrop-filter: blur(5px);
} 
.modal-tittle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal.show {
    display: flex; 
}

.modal-content {
    background-color: #fefefe;  
    padding: 20px;  
    border: 1px solid #888; 
    width: 80%; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.sidebar, .task-section, .details-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 33%;
}

.subject-container, .task-container {
    background-color: #DDEFF0;
    width: 100%;
    height: 70vh;
    border-radius: 0.5rem;
}

.details-container {
    background-color: #DDEFF0;
    width: 100%;
    height: 50vh;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.details-info-container {
    background-color: #5FAAB1;
    height: 40vh;
    width: 90%;
    border-radius: 1rem;
    align-items: center;
    margin: 0.2rem;
}

.home_line_middle {
    width: 100%; 
    height: 1vh; 
    background-color: #2D464C;
    border: none;   
    opacity: 1;
    border-radius: 1rem;
    margin: 1rem;
}

.completed-container {
    background-color: #DDEFF0;
    width: 100%;
    height: 22.2vh;
    border-radius: 0.5rem;
}

.completed-title {
    background-color: #DDEFF0;
    width: 100%;
    height: 2vh;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

.task-completed {
    background-color: #5FAAB1;
    display: flex;
    height: 5vh;
    width: 90%;
    margin: 1rem;
    border-radius: 0.5rem;
    justify-content: space-between;
}

.task-completed-example {
    color: #DDEFF0;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.drop_down_img {
    cursor: pointer;
}

.name-colum-subject {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    font-weight: bold;
}

label[for="Name"], label[for="Date"]  {
    margin-right: auto;
}

img[for="filter_icon"] {
    cursor: pointer;
    transition: transform 0.3s ease;
}

img[for="filter_icon"]:hover {
    cursor: pointer;
    transform: scale(1.1);
}

p[for="subject1"] {
    margin-left: 0.9rem;
}

p[for="schedule"] {
    margin-right: 5rem;
}

.subject-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    color: #000;
    width: 100%;
    font-size: 0.79rem;
}

.delete-btn {
    background-color: transparent;
    padding-right: 0.5rem;
}

.delete-btn img {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.delete-btn:hover img {
    content: url('../img/trash-white.png'); 
}

.add-subject-btn, .add-task-btn {
    display: flex;
    align-items: center;
    width: 40%;
    background-color: #5FAAB1;
    color: #1A2C32;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.2s ease, background-color 0.3s ease; 
}

.add-subject-btn:hover, .add-task-btn:hover {
    background-color: #3D7F86; 
    transform: scale(1.05); 
}

.add-subject-btn:active, .add-task-btn:active {
    transform: scale(0.95); 
    transition: transform 0.1s ease; 
}

.btn-img {
    position: fixed;
    position: relative;
}

h2 {
    margin-bottom: 20px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.subject-list, .task-list, .details-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.subject-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-radius: 10px;
}

.subject-card.green {
    background-color: #BDE8B3;
    height: 10vh;
}

.name-colum-task {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.title-task {
    margin-left: 1rem;
}

.filter-task {
    margin-right: 1rem;
}

table { 
    font-size: 0.7rem;
    font-weight: bold;
    border-collapse: separate; 
    border-spacing: 0;
    border-radius: 15px;
    border-spacing: 0 1rem;
}

table tr {
    padding: 1rem;
}

table td {
    background-color: #92CACE;
    padding: 0.4rem; 
    text-align: center; 
    color: #ffff;
    padding: 0.5rem;
    border: 1px solid transparent;
}

table tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

table tr td:nth-last-child(2) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

table td:last-child {
    background-color: transparent; 
}

table input[type="checkbox"] {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem; 
    appearance: none;
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 3px;
}

table input[type="checkbox"]:checked {
    background-color: #2D464C; 
    border: 2px solid #2D464C;
}

table input[type="checkbox"]:checked::after {
    content: "✔";
    color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1rem; 
}

.edit-btn {
    background-color: transparent;
    margin-top: 0;
    transition: transform 0.3s ease;
}

.edit-btn:hover {
    transform: scale(1.1);
}

.edit-btn img {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}

button {
    border-style: none;
    border-radius: 1.5rem;
    height: 2.5rem;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    margin-top: 1rem;
}

.footer_container {
    position: fixed;
    text-align: center;            
    margin-top: 1rem;
    background-color: #1A2C32;
    color: white;
    bottom: 0;
    width: 100%;
    height: 3rem;
    left: 0;
    display: flex;                
    justify-content: center;       
    align-items: center;      
    font-style: italic;     
}

.close {  
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;    
    text-decoration: none;  
    cursor: pointer;  
    transition: color 0.3s ease;
    width: 1rem;
    height: 2vh;
    font-size: 3rem;
} 

.close:hover, .close:focus {
    color: #f00; 
    transform: scale(1.1); 
}

.close:active {
    transform: scale(0.9); 
}

#addSubjectForm {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

#addSubjectForm label {
    font-weight: bold; 
    color: #333; 
}

#addSubjectForm input[type="text"],
#addSubjectForm input[type="date"],
#addSubjectForm button {
    padding: 10px; 
    border: 1px solid #B2DFDB; 
    border-radius: 4px; 
    font-size: 1rem; 
}

#addSubjectForm input[type="text"] {
    width: 100%; 
}

#addSubjectForm input[type="date"] {
    width: 100%; 
}

#addSubjectForm button {
    background-color: #00796B; 
    color: #FFFFFF; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#addSubjectForm button:hover {
    background-color: #004D40; 
}

#addSubjectForm input[name="subjectDateEnd"] {
    width: 100%; 
}


.modal-task {  
    display: none;  
    position: fixed;   
    z-index: 1000; 
    left: 0;  
    top: 0;  
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}  

 
.modal-content-task {  
    background-color: #fefefe; 
    margin: 15% auto;  
    padding: 20px;  
    border: 1px solid #888;  
    width: 80%;  
    max-width: 500px;  
    border-radius: 5px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);   
}  


.modal-tittle-task {  
    display: flex;  
    justify-content: space-between; 
    align-items: center; 
}  

 
.close-task {  
    color: #aaa; 
    font-size: 28px; 
    font-weight: bold; 
    cursor: pointer; 
}  


.close-task:hover,  
.close-task:focus {  
    color: black; 
    text-decoration: none;  
}  

 
.modal-task input[type="text"],  
.modal-task input[type="date"],  
.modal-task select {  
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
}  


.modal-task button[type="submit"] {  
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 15px;  
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px;  
}  


.modal-task button[type="submit"]:hover {  
    background-color: #45a049; 
}  


.modal-task.show {  
    display: block; 
}
