* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #92CACE;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.sidebar, .task-section, .details-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 30%;
}

.subject-container, .task-container {
    background-color: #DDEFF0;
    width: 100%;
    height: 70vh;
    border-radius: 0.5rem;
}

.name-colum {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    font-weight: bold;
}

label[for="Name"], label[for="Date"]  {
    margin-right: auto;
}

img[for="filter_icon"] {
    cursor: pointer;
    transition: transform 0.3s ease;
}

img[for="filter_icon"]:hover {
    cursor: pointer;
    transform: scale(1.1);
}

p[for="subject1"] {
    margin-left: 0.9rem;
}

p[for="schedule"] {
    margin-right: 3.5rem;
}

.subject-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    color: #000;
    width: 100%;
    font-size: 0.79rem;
}

.delete-btn {
    background-color: transparent;
    padding-right: 0.5rem;
}

.delete-btn img {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.delete-btn:hover img {
    content: url('../img/trash-white.png'); 
}

.add-subject-btn, .add-task-btn {
    display: flex;
    align-items: center;
    width: 40%;
    background-color: #5FAAB1;
    color: #1A2C32;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bold;
}

.add-subject-btn:hover, .add-task-btn:hover {
    background-color: #3D7F86; 
    transform: scale(1.05); 
}

.btn-img {
    position: fixed;
    position: relative;
}

h2 {
    margin-bottom: 20px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.subject-list, .task-list, .details-box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.subject-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-radius: 10px;
}

.subject-card.green {
    background-color: #BDE8B3;
    height: 10vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    width: 100%;
}

button {
    border-style: none;
    border-radius: 1.5rem;
    height: 2.5rem;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    margin-top: 1rem;
}

.footer_container {
    position: fixed;
    text-align: center;            
    margin-top: 1rem;
    background-color: #1A2C32;
    color: white;
    bottom: 0;
    width: 100%;
    height: 3rem;
    left: 0;
    display: flex;                
    justify-content: center;       
    align-items: center;      
    font-style: italic;     
}
